@{
    var emailStatus = ViewData["Message"].ToString();
    if (emailStatus != null && emailStatus == "emailSent")
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $("#modal").modal('show');
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $("#modal").modal('hide');
            });
        </script>
    }
}


<div class="wrapper">
    <div class="page-header page-header-large">
        <div class="page-header-image" loading="lazy" data-parallax="true" style="background-image: url('../images/josh1.jpg'); ">
        </div>
        <div class="content-center">
            <div class="container">
                <h1 class="title">Hi, welcome to JSH|DEV!</h1>
                <div class="text-center">
                    <a href="https://github.com/jarshvader99/JSHDev" target="_blank" class="btn btn-primary btn-icon btn-round" rel="tooltip" title="View source code for this site" data-placement="bottom">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-about-us" id="section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Who am I?</h2>
                    <h5 class="description">My name is Joshua Harrison and I am a passionate and creative full stack web developer. I am a disabled US Army veteran that honorably served 2 overseas tours as a <a href="https://en.wikipedia.org/wiki/Field_Artillery_Branch_(United_States)" target="_blank">Field Artillery Tactical Data Systems Specialist</a>, one in support of <a href="https://en.wikipedia.org/wiki/3rd_Battalion,_16th_Field_Artillery_Regiment" target="_blank">Operation Iraqi Freedom</a> and the other in <a href="https://en.wikipedia.org/wiki/Camp_Hovey" target="_blank">South Korea</a> near the DMZ. I am a loving husband and father to 3 beautiful girls. If I am not coding you might find me playing the guitar or drums, riding my bike or playing video games.</h5>
                    <h5 class="description">
                        In 2019 I attended <a href="https://www.centriq.com/" target="_blank">
                        Centriq Training's</a> Full Stack Web Developer program in Kansas City, MO. At Centriq, the classes were small and we reported from 8:30am until 4pm or later Monday through Friday for 4 months. The course focused on the necessary job skills and hands on experience with the tools of the trade.
                        Everyday we coded! We worked hands-on to practice application creation through building, enhancing and troubleshooting various web applications. We did this through a variety of languages including C#, HTML5, CSS3, JavaScript, and SQL in the .NET Framework.
                    </h5>
                     <h5 class="description">
                        Our instructors were real world programmers with experience and provided the mentoring required to succeed in the software development field. In our classroom we learned and practiced team development methods such as Agile, SCRUM, and Pair Programming. At the end of the program, I completed a final project which I planned, developed and deployed as a secure data driven ASP.NET MVC application. This project was then presented to an audience of Centriq instructors, staff, fellow students, and a select group of prospective employers. During my enrollment I humbly received the <a href="https://www.centriq.com/blog/featured-developer-student-for-july-2019/" target="_blank">Featured Developer of the month</a> award for my dedication and commitment to the program.
                     </h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('../images/login.jpg')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary">
                                “It is good to love many things, for therein lies the true strength, and whosoever loves much performs much, and can accomplish much, and what is done in love is well done.”
                                <br>
                                <br>
                                <small>-Vincent Van Gogh</small>
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('../images/bg3.jpg')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('../images/bg1.jpg')"></div>
                        <h3>A little more background for you</h3>
                        <p>
                            My development training has provided me with hands-on experience and knowledge on building full-stack web applications in the .NET framework.  This includes demonstrated knowledge and experience working with C#, MVC, SQL/SQL Server, and front-end technologies/frameworks.
                        </p>
                        <p>
                            Over the past year and a half, I have worked professionally as a full stack developer on a Java Spring application. The stack was Spring Framework, Apache Tomcat8, MySQL, JSPs, JS/jQuery. The app consumed RESTful API’s to extend the functionality of Salesforce.  My main role with the company was product support. I monitored the support email inbox and company phone for incoming bugs and handled customer issues within the application in real time. For tougher issues, I would have to debug them and report the findings to the lead developer where we would discuss the plan of action and then implement the fix in production code. This role also involved heavy use of MySQL as a means to manage the customer’s data and other administrative functions. In periods of downtime between support tickets, I would be tasked with other code fixes and implementing new features for the application from the product's roadmap.
                        </p>
                        <p>
                            I am confident that I can offer you the technical, communication, problem-solving and customer service skills you are seeking.  Please give me a call or <a href="#section-contact-us">email</a> to arrange an interview!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-team text-center" id="projects">
        <div class="container">
            <h2 class="title">Projects</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="~/images/pizza-slice-solid.svg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Foodly</h4>
                            <a href="https://github.com/jarshvader99/ASPCoreMVC" target="_blank" class="btn btn-primary btn-icon btn-round"><i class="fab fa-github"></i></a>
                            <p class="category text-primary">C#, jQuery/JS, HTML, CSS, &amp; MSSQL</p>
                            <p class="description">
                                Foodly is an ASP.Net Core web application. Users can register with an email address and must confirm by clicking a link in their inbox prior to logging in. This is done using the Identity framework in conjunction with Entity framework to store and process user data in a MSSQL database. The main application then uses jQuery fetch to retrieve restaurant details specifc to location and other specific search criterias from the public Zomato API.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="~/images/jedi-solid.svg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Jedi Knight School</h4>
                            <a href="https://github.com/jarshvader99/LMS" target="_blank" class="btn btn-primary btn-icon btn-round"><i class="fab fa-github"></i></a>
                            <p class="category text-primary">C#, jQuery/JS, HTML, CSS, &amp; MSSQL</p>
                            <p class="description">
                                Jedi Knight School is an online learning management web application. It is a simulation of an online resource for an employee/student to view courses and associated lessons. Once viewed, a manager receives an automatically generated email. The employees' progress can be viewed for both courses and lessons. The Admin has full CRUD functionality.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="~/images/football-ball-solid.svg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Fantasy Football</h4>
                            <a href="https://github.com/jarshvader99/fantasyfootball" target="_blank" class="btn btn-primary btn-icon btn-round"><i class="fab fa-github"></i></a>
                            <p class="category text-primary">Java, HTML, jQuery/JS, CSS, &amp; MySQL</p>
                            <p class="description">
                                Fantasy Football is a Java Spring web application that uses a MySQL database to manage user data. The application uses RESTful api calls to sportsdata.io and allows for a user to create and join fantasy football leagues. Users can send invite codes to others via email or SMS to join a league. Once the league is filled, users can enter draft results to create their teams.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="~/images/cloud-sun-rain-solid.svg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">theFeed</h4>
                            <a href="https://github.com/jarshvader99/weatherAPI" target="_blank" class="btn btn-primary btn-icon btn-round"><i class="fab fa-github"></i></a>
                            <p class="category text-primary">C#, jQuery/JS, HTML, CSS, &amp; MSSQL</p>
                            <p class="description">
                                theFeed is an ASP.Net Core web application. Users can retrieve latest news headlines and search for news by entering a term. Users can also retrieve weather data by entering a location.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="section-contact-us" class="section section-contact-us text-center">
        <div class="container">
            <h2 class="title">Like what you see?</h2>
            <p class="description">I am currently open to offers for full-time roles.</p>
            <div class="row">
                <form method="post" class="contact-form" name="contactForm">
                    <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                        <div class="input-group input-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="now-ui-icons users_circle-08"></i>
                                </span>
                            </div>
                            <input type="text" name="fromName" class="form-control" placeholder="Full Name" required>
                        </div>
                        <div class="input-group input-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="now-ui-icons ui-1_email-85"></i>
                                </span>
                            </div>
                            <input type="email" name="fromEmail" class="form-control" placeholder="Email" required>
                        </div>
                        <div class="textarea-container">
                            <textarea class="form-control" name="emailBody" rows="4" cols="80" placeholder="Type a message" required></textarea>
                        </div>
                        <div class="send-button">
                            <button type="submit" id="send-button" class="btn btn-primary btn-round btn-block btn-lg"><span id="send-text">Send</span><i id="send-loader" class="now-ui-icons loader_gear spin"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"><i class="fas fa-paper-plane"></i></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Your message has been successfully delivered. I will be in contact with you as soon as possible.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#send-loader").hide();
    });
</script>